body {
  font-family: Arial, Helvetica, sans-serif;
}

/* .container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
} */

.nav-style{
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  margin: auto;
  padding: 20px;
}

.nav-style p{
  font-size: 2rem;
}

